/* Estilos para el menú */
ion-menu {
  --background: #ffffff; /* Fondo blanco */
}

ion-toolbar {
  --background: #2e7d32; /* Fondo verde oscuro */
  --color: #ffffff; /* Texto blanco */
}

ion-button {
  --background: #97df50; /* Fondo verde crema */
  --color: #000000; /* Texto negro */
  margin: 10px 0; /* Margen entre los botones */
}