<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Green Blossoms</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button expand="block" href="/">Inicio</ion-button>
    <ion-button expand="block" href="/planta-usuario">Mis plantas</ion-button>
    <ion-button expand="block" href="/home-usuario">Home usuario</ion-button>
    <ion-button expand="block" href="/arduino">Monitoreo</ion-button>
    <ion-button expand="block" href="/reportes">Reportes</ion-button>
    <ion-button expand="block" href="/perfil-usuario">Perfil</ion-button>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>