<app-menu-home></app-menu-home>

<!--Página Principal-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mis plantas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterPlantas()" placeholder="Buscar"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let p of filteredPlantas" (click)="selectPlanta(p)">
        <ion-thumbnail slot="start">
          <img alt="{{p.nombrePlanta}}" [src]="p.imagen" class="plant-image" />
        </ion-thumbnail>
        <div class="detalles-texto">
          <h1>{{p.nombrePlanta}}</h1>
        </div>
        <div class="button-group">
          <ion-button (click)="viewPlanta(p.id)" shape="round" color="primary">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
          <ion-button [routerLink]="['/editar-planta-usuario/', p.id]" shape="round" color="warning">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="deletePlanta(p.id)" shape="round" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button (click)="selectPlanta(p)" color="success">
            Configurar en el arduino
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/agregar-planta-usuario']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>