<app-menu-home></app-menu-home>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar style="color: #2e7d32;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Green Blossoms</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" style="background-color: white;">
    <div class="full-screen-container" style="background-color: white;">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="title">Configuración de Planta</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="additional-section">
            <img src="assets/icon/icono-ajustes.png" alt="Icono de ajustes" class="settings-icon" />
            <div class="button-group">
              <ion-button expand="block" class="rounded-button" (click)="navigateTo('planta-usuario')">
                ¿No tienes una planta?<br>Agreguemos una!
              </ion-button>
              <ion-button expand="block" class="rounded-button" (click)="navigateTo('arduino')">
                Empecemos a configurar tu planta!
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>

<app-menu-tab></app-menu-tab>