<ion-content class="ion-padding" style="background-color: white;">
  <div class="full-screen-container" style="background-color: white;">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="title">Green Blossoms</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="welcome-container">
          <img src="assets/icon/logo.png" alt="Logo Green Blossoms" class="welcome-image">
          <p class="slogan">Cuidamos tus plantas con inteligencia.</p>
          <div class="welcome-buttons">
            <ion-button expand="block" class="rounded-button" (click)="navigateTo('login')">Empezar</ion-button>
            <ion-button expand="block" class="rounded-button" (click)="navigateTo('registro')">Registrarse</ion-button>
          </div>
          <div class="social-icons">
            <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
            <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
            <ion-icon name="logo-reddit" class="social-icon"></ion-icon>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>