ion-content {
  --background: transparent; /* Elimina el fondo gris */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ocupa toda la altura del contenedor */
}

ion-card {
  width: 90%; /* Ajusta el ancho del card */
  max-width: 500px; /* Ancho máximo del card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

ion-card-title.title {
  text-align: center;
  font-size: 2.5em; /* Más grande */
  font-weight: bold;
  color: #2e7d32; /* Verde oscuro */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para hacer el texto más llamativo */
  margin-top: 20px; /* Mueve el título un poco más abajo */
}

ion-card-content {
  padding: 20px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome-image {
  max-width: 100%;
  height: auto;
}

.slogan {
  font-size: 1.2em;
  color: #2e7d32; /* Verde oscuro */
  margin-bottom: 20px;
  font-style: italic;
  text-align: center;
}

.welcome-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-top: 20px; /* Agrega margen superior para mover los botones hacia abajo */
}

.rounded-button {
  --border-radius: 50px !important; /* Asegura que el estilo se aplique */
  width: 100%; /* Ajusta el ancho para que ocupe todo el espacio disponible */
  max-width: 150px; /* Ajusta el ancho máximo según sea necesario */
  height: 55px; /* Ajusta la altura según sea necesario */
  margin: 12px auto; /* Centra el botón horizontalmente */
  display: flex;
  align-items: center;
  justify-content: center;
  --background: #97df50; /* Verde crema */
  --color: #2e7d32; /* Verde oscuro */
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

}


.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  font-size: 2em;
  color: #2e7d32; /* Verde oscuro */
  margin: 0 10px;
  transition: color 0.3s ease;
  
}