<app-menu-home></app-menu-home>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar style="color: #2e7d32;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <!-- Sección Arduino -->
    <ion-card>
      <ion-card-header>
        <ion-card-title class="title">Green Blossoms</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="arduino">
          <p class="arduino-text">
            ¿Aun no tienes configurada tu planta?
          </p>
          <div class="arduino-buttons">
            <a href="/home-usuario">
              <img src="assets/icon/logo.png" alt="Logo de la empresa" class="logo" />
            </a>
          </div>
          <p style="color: #97df50;" class="arduino-subtext">
            Empieza dandole click a la <u><strong>imagen</strong></u>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
    <!-- Sección Arduino -->
    <!-- Sección Informacion -->
    <ion-card>
      <ion-card-header>
        <ion-card-title class="title">Funcionalidades y informacion!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="arduino-info">
          Con nuestra aplicación podrás <a href="home-usuario" style="color: #97df50; font-weight: bold;">monitorear</a>
          tu planta completamente y descubrir funciones como <a href="riego-arduino"
            style="color: #97df50; font-weight: bold;">riego automático</a>, monitoreo de temperatura, <a
            href="reportes" style="color: #97df50; font-weight: bold;">reportes</a>, <a href="modos-arduino"
            style="color: #97df50; font-weight: bold;">modo vacaciones</a> y más.
        </p>
      </ion-card-content>
    </ion-card>
    <!-- Sección Informacion -->
    <!-- Sección Comentarios -->
    <div class="testimonials">
      <h2>Lo que dicen nuestros clientes</h2>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Juan Pérez</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>¡Me encanta las funcionalidades tienen! Es excelente.</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Devora Gómez</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>La seccion de monitoreo es mu útil. ¡Los recomiendo!</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="footer-content">
        <p>&copy; 2024 <b>Green Blossom.</b> Todos los derechos reservados.</p>
        <div class="social-links">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-reddit"></ion-icon>
        </div>
      </div>
    </div>

  </ion-content>

</div>
<app-menu-tab></app-menu-tab>